---
layout: default
title: 首页 - 我的文章
---

<h1 style="display:inline"> 首页 - 我的文章 </h1><small><a href="/archives.html">Archives</a></small><br /><br />

<hr />

<!-- 遍历分页后的文章 -->
<table>
{% for post in paginator.posts %}
  <tr><td onclick="location='{{ post.url }}'">
    <h2><a class="post-link" href="{{ post.url }}">{{ post.title }}{% if post.layout == "encrypt" %} [加密] {% endif %}</a></h2>
  <p class="author">
    <span class="date">{{ post.date | date: "%-d %B %Y" }}</span>
    | Hits: <span id="{{ post.url }}" class="visitors-index" >Loading...</span>
  </p>
  <div class="content">
    {{ post.excerpt | strip_html | strip_newlines }} 
  </div>
  </td></tr>
{% endfor %}
</table>
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}/">&laquo; Prev</a>
    {% endif %}
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

<select onchange="window.location = this.value == 1 ? '{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}' : '{{ '/page' | prepend: site.baseurl | replace: '//', '/' }}' + this.value + '/'">
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <option value="{{ page }}" selected>{{ page }}</option>
    {% else %}
      <option value="{{ page }}">{{ page }}</option>
    {% endif %}
  {% endfor %}
</select>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}/">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
<hr />
<input name="live2dBGM" value="https://music.163.com/song/media/outer/url?id=523658881.mp3" type="hidden">
<p>
<h2>其他页面</h2>
 
 <a href="/service.html">Mayx的公开服务</a><br>

 <a href="{% unless site.github %}https://mabbs.github.io{% endunless %}/karyl-yabaival/">拯救凯露</a><br>

 <a href="/message.html">留言板</a><br>

 <a href="/links.html">Links</a><br>

 <a href="/proxylist.html">代理列表</a><br>

 <a href="https://www.travellings.cn/go.html">🚇开往</a><br>

 <!-- <a href="https://mabbs.github.io/MayxDaily/">Mayx日报</a><br> -->

<br>
</p>
<small><a href="https://icp.gov.moe/?keyword=20218888" target="_blank">萌ICP备 20218888号</a></small>
