---
layout: default
title: 首页 - 我的文章
image: https://screenshot.mayx.eu.org/
---

{% if paginator.page == 1 %}<div class="hslice" id="LatestPost">{% endif %}
<h1 class="entry-title" style="display:inline"> 首页 - 我的文章 </h1><small><a href="/archives.html">Archives</a> | <a href="javascript:getSearchJSON(function(data){location=data[Math.floor(Math.random()*data.length)].url})">Random</a></small><br /><br />

<hr />

<!-- 遍历分页后的文章 -->
<table class="entry-content h-feed">
{% for post in paginator.posts %}
  <tr><td class="h-entry" onclick="location='{{ post.url }}'">
    <h2 class="p-name"><a class="post-link u-url" href="{{ post.url }}">{{ post.title }}{% if post.layout == "encrypt" %} [加密] {% endif %}</a></h2>
  <p>
    <time class="date dt-published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%-d %B %Y" }}</time>
    | Hits: <span id="{{ post.url }}" class="visitors-index" >Loading...</span>
  </p>
  <div class="content p-summary">
    {{ post.excerpt | strip_html | strip_newlines }} 
  </div>
  {% if post.tags %}
  <span>
    {% for tag in post.tags %}
    <a rel="category tag" class="p-category" href="/search.html?keyword={{ tag | url_encode }}"><code style="white-space: nowrap">#{{ tag }}</code></a>
    {% endfor %}
  </span>
  {% endif %}
  </td></tr>
{% endfor %}
</table>
{% if paginator.page == 1 %}</div>{% endif %}
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/index.html">&laquo; Prev</a>
    {% else %}
      <a href="{{ paginator.previous_page_path }}/">&laquo; Prev</a>
    {% endif %}
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

<select onchange="window.location = this.value == 1 ? '/index.html' : '/page' + this.value + '/'">
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <option value="{{ page }}" selected>{{ page }}</option>
    {% else %}
      <option value="{{ page }}">{{ page }}</option>
    {% endif %}
  {% endfor %}
</select>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}/">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
<hr />

<h2>其他页面</h2>
<p>
 <a href="/service.html">Mayx的公开服务</a><br />
 凯露&危险生存（ <a href="{% unless site.github %}https://mabbs.github.io{% endunless %}/karyl-yabaival/?cn">CHS</a> | <a href="{% unless site.github %}https://mabbs.github.io{% endunless %}/karyl-yabaival/">JA</a> | <a href="{% unless site.github %}https://mabbs.github.io{% endunless %}/karyl-yabaival/?kr">KO</a> ）<br />
 <a href="/message.html">留言板</a><br />
 <a href="/links.html">Links</a><br />
 <a href="/proxylist.html">代理列表</a><br />
 <!-- <a href="https://mabbs.github.io/MayxDaily/">Mayx日报</a><br> -->
</p>
<br />
<small><a href="https://xn--sr8hvo.ws/previous">←</a>
  An <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍
  <a href="https://xn--sr8hvo.ws/next">→</a><br /><a href="https://icp.gov.moe/?keyword=20218888" target="_blank">萌ICP备 20218888号</a></small>
<input name="live2dBGM" value="https://music.163.com/song/media/outer/url?id=523658881.mp3" type="hidden" />